@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #8566FF;
}
.heading_qr{
    margin: 2% 5%;
    display: flex;
    flex-direction: row;
}
.form-control{
    border-radius: 20px;
}
.d-flex{
    margin-left: 5%;
}
.d-flex i.fa{
    color: #8566FF;
    font-size: 20px;
}

h2{
    font-size: 36px;
    color: #8566FF;
    font-family:'Source Sans Pro', sans-serif; ;
}

.typeicon {
    margin: 5% 15% 0 5%;
    padding-top: 15%;
}
.typeicon i.fa{
    font-size: 35px;
}
.type{
    text-align: left;
    border-radius: 35px;
    border-width: 2px;
    border-color: #8566FF;
    margin: 5% 10%;
    background-color:white ;
    color: #8566FF;
    display: flex;
    flex-direction: row;
}
.type:hover{
    background: #8566FF;
    color: white;
}
h3{
    font-size: 20px;
}
.grid p{
    font-size: 13px;
    line-height: 18px;
}
.grid{
    background: #D1C5FF3B;
    padding: 3%;
    border-radius: 35px;
    margin: 5% 0 5% 5%;
    display: flex;
    flex-direction: row;
}


/* Web QR */
.webdetails, .qrcode{
width: 50%;
}
.webqr{
    color: #8566FF;
}
.webqr h1{
    margin-left: 5%;
}
.webqr .dropdown-toggle{
    background: #8566FF;
    color: white;
}
.generate{
    background: #8566FF;
}


/* Navbar */
.offcanvas{
    background: #8566FF;
    color: white;
}

.offcanvas .dropdown-toggle{
    color: #8566FF;
}
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}